* {
    font-family: 'Work Sans', sans-serif;
}

#pin-dialog{
    border: 1px solid;
    position:absolute;
    top: 50px;
    left: 50px;
    padding:10px;
    border-radius:10px;
    background-color: white;
    display:none;
}

.message{
    border: 1px solid;
    border-radius: 10px;
    padding:5px;
    clear: both;
    margin: 2px;
    margin-top: 25px;
    box-shadow: 2px 2px 5px #888888;
    position: relative;
}

.message-time{
    position: absolute;
    width: 200px;
    right: 0px;
    bottom: 32px;
    text-align: right;
    font-size: 10px
}

.message-client .message-time{
    left: 0px;
    text-align: left;
}

.message-client{
    float: left;
    background-color: lightblue;
}
.message-operator{
    float: right;
    background-color: lightyellow;
}