html, body {
    height: 100%;
    margin: 0px;
}

#content{
    display:flex;
    height:85%;
    height: calc(100% - 80px);
    flex-flow: column;
}

#map {
    flex: 2 auto;
}

.ui-btn-a:focus {
    box-shadow: none;
}

#home-page {
    position:relative;
    height: 100%;
}

.police-icon-big {
    background-image: url("../misc/icons/departments/1-b.png");
}

.fire-icon-big {
    background-image: url("../misc/icons/departments/2-b.png");
}

.health-icon-big {
    background-image: url("../misc/icons/departments/3-b.png");
}

.icon-button {
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

#message-container{
    width:80%;
}

#message-button-container{
    width:20%;
}

#options{
    flex: 0 1 auto;
    min-height: 75px;
    position:relative;
    overflow-y: auto;
}

#chat-page-content{
    display:none;
    flex-direction: column;
    height:100%;
    position: absolute;
    width: 100%;
}

#chat-content{
    flex: 1 0 auto;
    height: 0px;
    overflow-y: scroll;
}

#chat-footer{
    flex: 0 0 50px;
    resize: none;
}

#resize-handler{
    height:20px;
    background-color:blue;
    display: none;
    flex: 0 0 auto;
}

.ui-slider{
    position: absolute;
    top: 0px;
    right: 10px;
    width: 100px !important;
}

